<main class="color-lightgray">
  <h1>General Statistics</h1>
  <div id="statistics">
    <app-statistic value="8" label="Active Subscriptions"></app-statistic>
    <app-statistic value="$1,634.11" label="Monthly Cost"></app-statistic>
    <app-statistic value="$19,609.32" label="Yearly Cost"></app-statistic>
    <app-statistic value="$204.26" label="Average Monthly Subscription Cost"></app-statistic>
    <app-statistic value="$522.00" label="Most Expensive Subscription Cost"></app-statistic>
    <app-statistic value="$120.00" label="Amount due this month"></app-statistic>
  </div>

  <h2>Split Views</h2>
</main>

