<main class="color-lightgray" *ngIf="stats; else noStatsBlock">
  <h1>General Statistics</h1>
  <div id="statistics">
    <app-statistic
      [value]="stats.active_subscriptions"
      label="Active Subscriptions"
    ></app-statistic>
    <app-statistic
      [value]="stats.cost_per_month"
      label="Monthly Cost"
    ></app-statistic>
    <app-statistic
      [value]="stats.cost_per_year"
      label="Yearly Cost"
    ></app-statistic>
    <app-statistic
      [value]="stats.average_monthly_cost"
      label="Average Monthly Subscription Cost"
    ></app-statistic>
    <app-statistic
      [value]="stats.top_cost"
      label="Most Expensive Subscription Cost"
    ></app-statistic>
    <app-statistic
      [value]="stats.amount_due"
      label="Amount due this month"
    ></app-statistic>
  </div>

  <h2>Split Views</h2>
</main>

<ng-template #noStatsBlock>
  <main><h3>Could not retreive any statistics :(</h3></main>
</ng-template>
