<main>
  <header id="main-actions">
    <button class="button">
      <img
        class="button-icon"
        src="assets/siteicons/plusicon.png"
        alt="New subscription"
      />
      New Subscription
    </button>
    <div class="sort-container">
      <button class="button" value="Sort" id="sort-button">
        <img src="assets/siteicons/sort.png" class="button-icon" alt="Sort" />
        Sort
      </button>
      <div class="container" id="sort-options">
        <ul>
          <li id="sort-name">Name</li>
          <li id="sort-id">Last Added</li>
          <li id="sort-price">Price</li>
          <li id="sort-next_payment">Next payment</li>
          <li id="sort-category_id">Category</li>
        </ul>
      </div>
    </div>
  </header>
  <div id="subscriptions">
    <app-subscripton
      *ngFor="let sub of subscriptions"
      [subscription]="sub"
    ></app-subscripton>
  </div>
</main>
