<main>
  <header id="main-actions">
    <button class="button">
      <img
        class="button-icon"
        src="assets/siteicons/plusicon.png"
        alt="New subscription"
      />
      New Subscription
    </button>
    <div class="sort-container">
      <button
        class="button"
        value="Sort"
        id="sort-button"
        (click)="toggleSortPopup()"
      >
        <img src="assets/siteicons/sort.png" class="button-icon" alt="Sort" />
        Sort
      </button>
      <div *ngIf="showSort" class="container" id="sort-options">
        <ul>
          <li
            *ngFor="let entry of sortOptions | keyvalue"
            [id]="entry.key"
            class="{{
              activeSortOption.valueOf() == entry.key ? 'selected' : ''
            }}"
            (click)="onSortClick(entry.key)"
          >
            {{ entry.value }}
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div id="subscriptions">
    <app-subscripton
      *ngFor="let sub of subscriptions"
      [subscription]="sub"
    ></app-subscripton>
  </div>
</main>
